*, *::after, *::before{ 
    box-sizing: border-box; 
  } 
  body{
    overflow-x: hidden;
  }
  .navbar{
    background-color: #001c55;
  }
  .nav{
    &-link{
        color: #ffe5d9;
        margin-left: 60px;
    }
    &-link:hover{
      color: red;
  }
  &-link:active{
    color: black;
}
  }
  .nav-button { 
    width: 145px; 
    height: 40px; 
    border: none; 
    border-radius: 10px; 
    margin-left: 50px; 
    margin-right: 20px; 
    background-color: black;
    transition: all .3s linear; 
    color: aliceblue;
     
    
    &:hover { 
    
     background-color: red; 
    } 
}
.form-floating { 
  text-align: center; 
  display: flex; 
  width: 80%; 
  margin: 0 auto; 
  justify-content: center; 
 }
 .form-button { 
  width: 140px; 
  height: 40px; 
  margin: 30px 0 10px 0; 
  border: none; 
  margin-left: 180px;
  border-radius: 5px; 
 background-color: #001c55;
 color: #ffe5d9;
  transition: all .3s linear; 
  letter-spacing: 0.5px; 
  
  &:hover { 
   color: lightblue;
    border: 1.5px solid lightblue;
  } 
 }
 @media screen and (max-width:992px ){ 
  .form-button{
   margin-left: 80px;
  } 
}
 .modal-head { 
  width: 90%; 
  display: inline-flex; 
  align-items: center; 
  justify-content: space-between; 

 } 
  
 .btn-close { 
  width: 48px; 
  height: 48px; 
  padding: 0; 
  margin-top: 10px; 
  
 }
 .SignUpTitle{
  padding-left: 80px;
 }
 .logoimg{
  cursor: pointer;
 }
 .table{
width: 70%;
margin-top: 40px;
margin-left: 15%;
 }
 @media screen and (max-width:992px ){ 
  .nav-button{
    margin-left: 0px;
  } 
}
@media screen and (max-width:992px ){ 
  .nav-link{
    margin-left: 0px;
  } 
}
 @media screen and (max-width:992px ){ 
    .table{
      width: 100%;
      margin: 0px;
    } 
 }
 .group18{
    text-align: center;
    font-size: 50px;
    margin-top: 100px; 
    
 }
 .underline{
  background: linear-gradient(to left, #5a595a, #5a595a 100%);
background-position: 0 100%;
background-size: 100% 2px;
background-repeat: repeat-x;
 }
 .imggroup{
    width: 60px;
    height:60px;
 }
 @media screen and (max-width:992px ){ 
  .imggroup{
    width: 20px;
    height: 20px;
  } 
}
@media screen and (max-width:992px ){ 
  .group18{
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
  } 
}
@media screen and (min-width:992px ){ 
  .general{
   margin: none;
   margin-top: 100px;
   text-align: center;
   justify-content: center;
   background-color: lightblue;
  } 
  .opros{
  font-size: 70px;
  }
  .oprosplayoff input{
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  .oprosplayoff{
    font-size: 50px;
  }
  .subbutton{
    margin-top: 60px;
    font-size: 30px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width:992px ){ 
  .general{
   margin: none;
   margin-top: 10px;
   text-align: center;
   justify-content: center;
   background-color: lightblue;
  } 
  .subbutton{
    padding-bottom: 10px;
  }
}
.footer{
  width: 100%;
  height: auto;
  background-color: #0077b6;
 text-align: center;


 }
 .footer a{
  color: white;
  margin-left: 30px;
text-decoration: none;
 }
 .footer nav a:hover{
  color: red;
  
 }
 .logoimgfooter{
  width: 600px;
  height: 250px;
  object-fit: cover;
 }
 .sociallogo{
  width: 30px;
  height: 30px;
  margin-top: -20px;
  margin-bottom: 60px;
  margin-left: -3px;

 }
.autor{
font-size: 24px;
}
@media screen and (max-width:992px ){ 
  .logoimgfooter{
   
    width: 100%;
    margin-left: -30px;
  }
}